# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\clemc\OneDrive\Bureau\ISEP\JuniorISEP\JAC\FindMyFood_ReactNative\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
